*{
    margin: 0; padding: 0;
}

html, body{
    height: 100%;
}

body{
    background: rgb(37,60,89);
    background: linear-gradient(180deg, rgba(37,60,89,1) 0%, rgba(45,75,115,1) 50%, rgba(37,60,89,1) 100%);
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;   
}

.logo{
    margin: 20px;
    width: 180px;
    border-radius: 50%;
    border: 2px solid rgb(250, 250, 255);
    box-shadow: 0 0 15px  rgb(255, 255, 255);}

h1{
    font-size: 30px; 
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

h3{
    margin: 15px;
    /*
    font-family: 'Roboto', sans-serif;
    */
    font-size: 17px;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: 40px;
}

.porfile{
    text-align: center;
    margin-top: 20px;
}

.social{
    display: flex;
    justify-content:space-around;
    list-style: none;
    margin: 30px;
}

.social img{
    width: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgb(255, 255, 255);
}
/*=== DEFINIÇÕES DO VERSÍCULO ALEATÓRIO ======*/
.corpo{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
}

.dailyVerses.bibleVerse{
    margin-top: 10px;
}

.dailyVerses.bibleVerse a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
/*==========================================*/
.agenda{
    margin: 30px;
}

.link-list{
    list-style: none;
    font-weight: 500;
    margin-top: 30px ;
}

.link-list li{
    margin: 20px 20px;
    font-weight: bolder;
}

.link-list li a{
    display: block;
    background: #f4f4f4;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px  rgb(255, 255, 255);
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    color: #253c59;
}

.link-list li a span{
    color: black;
    display: block;
    margin-top: 10px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.links-list li a.active {
    box-shadow: 0 0 20px white;
    color: rgb(54,77,204);   
}
    
.links-list.second {
    margin-top: 30px;
}

footer{
    bottom: 0;  
    position: static;
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height:100px;
    font-family: 'Roboto', sans-serif;
    text-align: center;    
    margin-top: 30px;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
} 
